.Weather {
  border: 2px solid #38A3A5;
  border-radius: 4px;
  box-shadow: 2px 2px 5px;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.Weather .temperature {
  font-size: 48px;
  font-weight: bold;
  line-height: 68px;
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
}

.Weather .unit {
  font-size: 16px;
  line-height: 24px;
  position: relative;
  top: -10px;
}

.Weather ul {
  padding: 0;
  margin-top: 10px;
}

.Weather li {
  list-style: none;
}
